

body {
    height:100%;
    margin:0;
    font-family: sans-serif;
    color: #ddd;
    background: linear-gradient(to bottom, #222222, #000);
    background-attachment: fixed;
}

h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.4em;
    padding: 10px;


}

form {
    background-color: transparent;
    padding: 20px 0;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 35px #fff2;
    margin-top: 50px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 50px;
}

input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: 1px solid #666;
    box-shadow: 0 0 55px #0003;
    background-color: transparent;
    border-radius: 4px;
    color: #ddd;



}

option {
    background: #222;
    margin: 10px;
}

textarea {
    min-width: 100%;
    resize: none;
    min-height: 102px;
    max-height: 500px;
    font-family: sans-serif;
}

.form-input {
    padding: 10px 20px;
}

label {
    font-size: 0.88em;
    line-height: 2;
}

.checkbox {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.checkbox {
    width: auto;
    height: 1,2em;
}

fieldset {
    margin:20px 0;
    border: 1px solid #ddd4;
    border-radius: 5px;
    margin:0 10px;
    padding:8px 4px 16px 4px;
    margin:20px;
}

legend {
    padding: 0 6px;
    color:#777;
}

.boton-enviar {
    padding:8px;
    cursor: pointer;
}

a {
    color: #69f;
    text-decoration: none;
}


