body {
    background-color: #333;
    color:#ddd;
    font-size: 25px;
}

details {
    background-color: transparent;
    border: 1px solid #ddd;
    margin: 20px;
    font-size: 0.7em;
    color: #aaa;

}

/* details[open] {
    border: 1px solid #ddd;
    background-color: #444;
    font-weight: bold;
    se puede dar estilos a cada estado
} */

summary {
    background-color: transparent;
    border-bottom: 1px solid #eee;
    padding: 9px;
    font-size: 1em;
    color:#eee;
}

ul {
    font-weight: 100;
}

p {
    padding: 0 12px;
}
